.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F0DCBF;
  color: #001E1E;
}

.app-logo {
  width: 250px;
  margin: 25px auto;
}

.app-title {
  margin: 25px;
}



.App-header {
  
  font-size: calc(10px + 2vmin);
  margin-bottom: 40px;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
}

.App-link {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
